<h1>EDUCATION</h1>
<div>
<ul>
  <li>
    <p>
      In 2011 I graduated from 
      <a href="https://pg.edu.pl/welcome" target="_blank">Technical Univeristy of Gdansk</a>
      <a href="https://eti.pg.edu.pl/main-menu" target="_blank"> Faculty of Electronics Telecommunications and Informatics</a>
      and obtained the title <b>Master of Science</b> of the <b>Automatics and Robotics</b> field.
    <p>
  </li>
  <li>
    <p>
      My thesis was entitled <b>"Building Management System for Hospital Building"</b> and consisted of
      hardware design part where all elements of BMS were describled and software BMS simulation. 
      I received grade <b>A+</b>.
    </p>
  </li>
</ul>
</div>
