<div class="header">
  <div>
    <h2>{{ basics.name }}</h2>
    <h1>{{ basics.surname }}</h1>
  </div>
  <div class="contact">
    <p><span style="font-weight: bold">Email:&nbsp;&nbsp;&nbsp;  </span>{{basics.email}}</p>
    <p><span style="font-weight: bold">Phone number:&nbsp;&nbsp;&nbsp;  </span>{{basics.phone}}</p>
    <p><span style="font-weight: bold">Github:&nbsp;&nbsp;&nbsp;  </span>{{basics.github}}</p>
    <p><span style="font-weight: bold">LinkedIn:&nbsp;&nbsp;&nbsp;  </span>{{basics.linkedin}}</p>
    <p><span style="font-weight: bold">Leetcode:&nbsp;&nbsp;&nbsp;  </span>{{basics.email}}</p>
  </div>
</div>

<ul>
  <li>
    <p class="aboutme">{{ basics.about }} </p>
  </li>
</ul>
