.header {
    line-height: 0.5;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color:#00a8ff;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    color:  #2D2E2E;
    font-size: 32px;
}

.contact {
    font-size: 15px;
    line-height: .5;
}

.aboutme {
    line-height: 2;
    padding: 10px;
    text-align: justify;
    margin: 0;
}

li {
    padding: 0;
}