<div class="header">
  <h2>{{ basics.name }}</h2>
  <h1>{{ basics.surname }}</h1>
</div>
    <ul>
  <li>
    <p class="aboutme">{{ basics.about }} </p>
    <div class="contact">
        <a href="{{basics.github}}" target="_blank">
            <span class="tooltip" style="color: #00a8ff">
              <i class="fab fa-github" style="font-size:26px"></i>
              <span class="tooltiptext">Github</span>
            </span>
          </a>
          <a href="{{basics.linkedin}}" target="_blank">
            <span class="tooltip" style="color: #00a8ff">
              <i class="fab fa-linkedin" style="font-size:26px"></i>
              <span class="tooltiptext">LinkedIn</span>
            </span></a>
          <a href="{{basics.leetcode}}" target="_blank">
            <span class="tooltip" style="color: #00a8ff">
              <img src="./assets/leetcode.png" height="26px" width="26px">
              <span class="tooltiptext">LeedCode</span>
            </span>
          </a>
    </div>
  </li>
</ul>

