.position {
    font-size: 18px;
    font-weight: bold;
    color:  #00a8ff;
}

.company {
    font-size: 16px;
    font-weight: bold;
    color:  rgb(60, 61, 61);
}

.dates {
    font-size: 16px;
    font-weight: bold;
    color:  rgb(148, 148, 148);
}

.details {
    list-style-type: disc  !important;
    list-style-position: inside !important;
}