<h1>PROFESSIONAL EXPERIENCE</h1>

<ul [@listStagger]="experiences$">
  <li *ngFor='let experience of experiences'>
    <!--<a routerLink='/details/{{ user.id }}'>{{ user.name }}</a>-->
    <ul>
      <li class="position">{{ experience.position }}</li>
      <!--<li><a href='http://{{ user.website }}'>{{ user.website }}</a></li>-->
      <li class="company">{{ experience.company}}<span class="dates">  ({{ experience.dates}})</span></li>
      <div class="details">
        <ul *ngFor='let d of experience.details'>
          <li style="line-height: 1">{{ d }}</li>
        </ul>
    </div>
    </ul>
  </li>
</ul>
